html {
    font-size: 18px;
}
body {
    height: 30rem;
    width: 25rem;
    color:black;
    font-family: "Questrial", sans-serif;
    background-color: #00000033;
    background-size: 60px 60px;
    background-position: 0 0;
}

@keyframes slide {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -120px 60px;
    }
}

.modal {
    position: absolute;
    height: 26.5rem;
    width: 21.5rem;
    left: 49.8%;
    top: 49.8%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem;
    border: 3px solid black;
    border-radius: 5px;
    background: white;
}
.message {
    font-size:1.1rem;
    margin-bottom: 1.6rem;
    margin-top: 0;
}
.btn {
    color:inherit;
    font-family:inherit;
    font-size: inherit;
    background: white;
    padding: 0.3rem 0.3rem;
    border: 3px solid black;
    margin-bottom: 0.8rem;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
}

.btn:last-child {
    margin: 0;
}

.btn:hover {
    box-shadow: 0.4rem 0.4rem 0 black;
    transform: translate(-0.4rem, -0.4rem);
}

.btn:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}

.close {
    opacity: 0.5;
}

.page {
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text {
    color:inherit;
    font-family:inherit;
    font-size: inherit;
    background: white;
    padding: 0.3rem 0.3rem;
    border: 3px solid black;
    margin-bottom: 0.8rem;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
}

.hidden {
    display: none;
}

.scenarios {
    width: auto;
    height: auto;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
}
